.resume-form {
    height: 100vh;
    width: 400px;
    background-color: rgb(124, 176, 245);
    box-shadow: 5px 0 5px rgba(124, 176, 245, 0.2);
    overflow-y: scroll;
}

.resume-form input {
    width: 280px;
}

.resume-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.practical-form-header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
}

.practical-form-header h2 {
    margin-left: 20px;
}

.practical-form-header p {
    position: relative;
    font-size: 2.5rem;
    left: 15px;
    bottom: 15px;

    cursor: pointer;
}

.practical-form-header p:hover {
    transform: scale(1.3);
    transition: all 0.1s ease-out;
}

.practical-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.practical-form-inputs p {
    position: relative;
    left: -160px;
    top: 25px;
    font-weight: bold;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
}

.practical-form-inputs p:hover {
    transform: scale(1.3);
    transition: all 0.1s ease-out;
}

.practical-form-inputs textarea {
    resize: none;
    line-height: 1.2rem;
    font-family: inherit;
    padding: 5px;
}

input {
    margin-bottom: 8px;
    line-height: 1.8rem;
    border-radius: 8px;
    border: none;
    padding-left: 5px;
}

.resume-form .submit {
    margin-top: 0;
}

.submit button,
.edit-btn {
    width: 280px;
    padding: 8px 0;
    margin-bottom: 60px;
    font-size: 1.2rem;
}

.edit-btn {
    width: 100px;
    margin-top: 10px;
}

.practical-form .edit-btn {
    margin-top: 0;
}

.no-display {
    display: none;
}
